.img-big-wrap{
    display: flex;
    justify-content: center;
}

.img-big-wrap a{
    width: 100%;
}

.img-big-wrap a{
    padding: 30px;
}

.gallery-wrap .img-big-wrap img {
    height: 488px;
    width: auto;
    display: inline-block;
    padding-left: 60px;
    padding-top: 50px;
}


@media (min-width:360px) and (max-width:640px) {
    .gallery-wrap .img-big-wrap .p-5 {
        height: auto;
    }
    .img-big-wrap{
        display: block;
       
    }
    
    .gallery-wrap .img-big-wrap img{
        
        width: 100%;
    }

    .img-big-wrap a{
        padding: 0px;
        width: 100%;
    }
}

@media screen and (min-width:820px) {
    .img-big-wrap a img{
        padding: 0px;
        width: 100%;
    }
}
@media screen and (min-width:412px) {
    .img-big-wrap a img{
        padding: 0px;
        width: 100%;
    }
}

@media screen and (min-width:375px) {
    .img-big-wrap a img{
        padding: 0px;
        width: 100%;
    }
}